create database QuanLyCuaHangBanDoUong
--use QLyCuaHangBanDoUong

-- 1. Ca làm việc
create table CaLamViec (
	TenCa nvarchar (30) primary key,
	ThoiGianBatDau time,
	ThoiGianKetThuc time
)
-- 2. Chấm công
create table ChamCong(
	NgayChamCong date,
	ThoiDIemChamCong time,
	TenCaLamViec nvarchar (30),
	IDNV char (10),
	primary key (NgayChamCong, TenCaLamViec, IDNV)
)

-- 3. Nhân viên
create table NhanVien(
	IDNV char (10) primary key,
	IDQL char (10),
	CCCD char (12),
	HoTen nvarchar (50),
	NgaySinh date,
	DiaChi nvarchar (50),
	TaiKhoanNV char(30) unique,
	ChucVu nvarchar(20),
	SDT char (10),
	Luong float
)

-- 4. Tài khoản
create table TaiKhoan (
	TenDangNhap char(30) primary key,
	MatKhau char(30)
)

-- 5. Chức năng
create table ChucNang(
	IDChucNang char(10) primary key,
	Ten nvarchar(30),
	MoTa nvarchar(50)
)

-- 6. Tài khoản có chức năng
create table TaiKhoanCoChucNang(
	IDChucNang char(10),
	TenDangNhap char(30),
	primary key(IDChucNang, TenDangNhap)
)

-- 7. Khách hàng
create table KhachHang(
	SDT char (10) primary key, 
	HoTen nvarchar(50),
	DTL int
)

-- 8.Đồ uống
create table DoUong(
	IDDoUong char(10) primary key,
	Ten nvarchar(30),
	Gia float,
	Size nvarchar(5),
	Loai nvarchar(20),
	ImageURL varchar(max)
)

-- 9. Voucher
create table Voucher(
	IDVoucher char(10) primary key,
	Ten nvarchar(30),
	NgayBatDau date,
	NgayKetThuc date,
	NoiDung nvarchar(50)
)

-- 10. Hoa Don
create table HoaDon(
	IDHoaDon char(10) primary key,
	ThoiDiemLap datetime,
	IDVoucher char (10),
	IDNV char(10),
	SDTKhach char(10),
	TongTien float
)

-- 11.Hoa don co do uong
create table HoaDonCoDoUong (
	IDHoaDon char (10),
	IDDoUong char(10),
	SoLuong int,
	primary key(IDHoaDon, IDDoUong)
)
-- Thêm khóa ngoại
--alter table ChamCong
--	add constraint FK_ChamCong_CaLamViec foreign key (TenCaLamViec) references CaLamViec(TenCa),
--	constraint FK_ChamCong_NhanVien foreign key (IDNV) references NhanVien(IDNV)
	
--alter table TaiKhoan
--	add constraint FK_TaiKhoan_NhanVien foreign key (TenDangNhap) references NhanVien(TaiKhoanNV)	
	
--alter table TaiKhoanCoChucNang
--	add constraint FK_TaiKhoanCoChucNang_TaiKhoan foreign key (TenDangNhap) references TaiKhoan(TenDangNhap),
--	constraint FK_TaiKhoanCoChucNang_ChucNang foreign key (IDChucNang) references ChucNang(IDChucNang)
	

--alter table HoaDon
--	add constraint FK_HoaDon_NhanVien foreign key (IDNV) references NhanVien(IDNV),
--	constraint FK_HoaDon_KhachHang foreign key (SDTKhach) references KhachHang(SDT),
--	constraint FK_HoaDon_Voucher foreign key (IDVoucher) references Voucher(IDVoucher)
	
--alter table HoaDonCoDoUong 
--	add constraint FK_HoaDonCoDoUong_HoaDon foreign key (IDHoaDon) references HoaDon(IDHoaDon),
--	constraint FK_HoaDonCoDoUong_DoUong foreign key (IDDoUong) references DoUong(IDDoUong)

-- Nhập dữ liệu 

-- 1. CaLamViec
select * from CaLamViec

-- 3. NhanVien
select * from NhanVien


-- 4. TaiKhoan
INSERT INTO TaiKhoan (TenDangNhap, MatKhau)
VALUES 
('nv001', 'password1'),
('nv002', 'password2'),
('nv003', 'password3'),
('ql001', 'password4'),
('nv004', 'password5'),
('nv005', 'password6'),
('nv006', 'password7'),
('nv007', 'password8'),
('nv008', 'password9'),
('nv009', 'password10'),
('nv010', 'password11'),
('nv011', 'password12'),
('nv012', 'password13'),
('ql002', 'password14');
select * from TaiKhoan



-- 5. ChucNang
select * from ChucNang

-- 6. TaiKhoanCoChucNang
INSERT INTO TaiKhoanCoChucNang (IDChucNang, TenDangNhap)
VALUES 
('CN001', 'ql001'),
('CN002', 'ql001'),
('CN003', 'ql001'),
('CN004', 'nv001'),
('CN004', 'nv002'),
('CN004', 'nv003'),
('CN005', 'ql002'),
('CN006', 'ql002'),
('CN007', 'ql002'),
('CN008', 'nv004'),
('CN009', 'nv005'),
('CN010', 'nv006'),
('CN011', 'nv007'),
('CN012', 'nv008'),
('CN013', 'ql002'),
('CN014', 'nv009');
select * from TaiKhoanCoChucNang


-- 7. KhachHang
INSERT INTO KhachHang (SDT, HoTen, DTL)
VALUES 
('0912345678', N'Đỗ Thị E', 100),
('0908765432', N'Lê Văn F', 0),
('0912345670', N'Nguyễn Thị L', 50),
('0912345671', N'Phạm Văn M', 20),
('0912345672', N'Lê Thị N', 100),
('0912345673', N'Trần Văn O', 30),
('0912345674', N'Ngô Thị P', 70),
('0912345675', N'Hoàng Văn Q', 40),
('0912345676', N'Vũ Thị R', 10),
('0912345677', N'Đặng Văn S', 60),
('0912345600', N'Bùi Thị T', 80),
('0912345679', N'Trịnh Văn U', 90);
select* from KhachHang





-- 8. DoUong
select * from DoUong

-- 9. Voucher
select * from Voucher

-- 10. HoaDon
select * from HoaDon

--UPDATE HoaDon
--SET TongTien = (
--    SELECT SUM(hdd.SoLuong * du.Gia)
--    FROM HoaDonCoDoUong hdd
--    JOIN DoUong du ON hdd.IDDoUong = du.IDDoUong
--    WHERE hdd.IDHoaDon = HoaDon.IDHoaDon
--);
--select * from HoaDon


-- 11. HoaDonCoDoUong

select * from HoaDonCoDoUong

-- 2. ChamCong
select * from ChamCong

-- Truy vấn 
-- 1. Hiển thị danh sách tất cả các đồ uống có giá dưới 30,000.
SELECT * 
FROM DoUong
WHERE Gia < 30000;

--2. Tìm các nhân viên có lương trên 6,000,000.
SELECT * 
FROM NhanVien
WHERE Luong > 6000000;

--3. Danh sách hóa đơn được lập trong tháng 10/2024.
SELECT * 
FROM HoaDon
WHERE ThoiDiemLap BETWEEN '2024-10-01' AND '2024-10-31';

-- 4. Tính tổng số tiền tất cả hóa đơn trong tháng 10/2024
SELECT SUM(TongTien) AS TongDoanhThuT10
FROM HoaDon
WHERE ThoiDiemLap BETWEEN '2024-10-01' AND '2024-10-31';

-- 5. Liệt kê các hóa đơn có sử dụng voucher.
SELECT * 
FROM HoaDon
WHERE IDVoucher IS NOT NULL;

-- 6. Thống kê số lượng đồ uống đã bán theo từng loại.
SELECT DoUong.Loai, SUM(HoaDonCoDoUong.SoLuong) AS TongSoLuong
FROM HoaDonCoDoUong
JOIN DoUong ON HoaDonCoDoUong.IDDoUong = DoUong.IDDoUong
GROUP BY DoUong.Loai;

-- 7. Tìm nhân viên đã chấm công trong ngày 2024-10-15 đến ngày 2024-10-20.
SELECT DISTINCT NhanVien.HoTen, ChamCong.NgayChamCong
FROM ChamCong
JOIN NhanVien ON ChamCong.IDNV = NhanVien.IDNV
WHERE ChamCong.NgayChamCong BETWEEN '2024-10-15' AND '2024-10-20';

-- 8. Sắp xếp khách hàng có điểm tích lũy từ cao tới thấp.
SELECT * 
FROM KhachHang
ORDER BY DTL DESC;

-- 9. Danh sách các ca làm việc và số lượng nhân viên tham gia.
SELECT CaLamViec.TenCa, COUNT(ChamCong.IDNV) AS SoLuongNhanVien
FROM CaLamViec
LEFT JOIN ChamCong ON CaLamViec.TenCa = ChamCong.TenCaLamViec
GROUP BY CaLamViec.TenCa
ORDER BY SoLuongNhanVien DESC;

-- 10.Tìm các đồ uống có chứa từ "trà" trong tên.
SELECT * 
FROM DoUong
WHERE Ten LIKE N'%Trà%';

-- 11. Tìm 3 hóa đơn có tổng tiền cao nhất.
SELECT TOP 3 *
FROM HoaDon
ORDER BY TongTien DESC

-- 12. Tìm 3 đồ uống có giá trung bình cao nhất theo loại.
SELECT TOP 3 Loai, AVG(Gia) AS GiaTrungBinh
FROM DoUong
GROUP BY Loai
ORDER BY GiaTrungBinh DESC

-- 13.  Tính tổng lương của tất cả nhân viên.
SELECT SUM(Luong) AS TongLuong
FROM NhanVien;

-- 14. Liệt kê các chức năng mà tài khoản 'ql001' có thể truy cập.
SELECT ChucNang.Ten
FROM TaiKhoanCoChucNang
JOIN ChucNang ON TaiKhoanCoChucNang.IDChucNang = ChucNang.IDChucNang
WHERE TaiKhoanCoChucNang.TenDangNhap = 'ql001';

-- 15. Tính tổng số lượng đồ uống đã bán trong tháng 10.
SELECT SUM(HoaDonCoDoUong.SoLuong) AS TongSoLuongDoUong 
FROM HoaDon
JOIN HoaDonCoDoUong ON HoaDon.IDHoaDon = HoaDonCoDoUong.IDHoaDon
WHERE MONTH(HoaDon.ThoiDiemLap) = 10 AND YEAR(HoaDon.ThoiDiemLap) = 2024;

-- 16. Đếm số lượng nhân viên và quản lý
SELECT ChucVu, count(ChucVu) as SoLuong
FROM NhanVien
GROUP BY ChucVu;

-- 17. Liệt kê các đồ uống có giá từ 20,000 đến 30,000.
SELECT * 
FROM DoUong 
WHERE Gia BETWEEN 20000 AND 30000;

-- 18. Tìm các đồ uống thuộc loại "Sinh tố". 
SELECT * 
FROM DoUong 
WHERE Loai = N'Sinh tố';

-- 19, Tìm nhân viên có số lượng hóa đơn lập nhiều nhất.
SELECT TOP 1 
	NhanVien.HoTen, 
    HoaDon.IDNV, 
    COUNT(HoaDon.IDHoaDon) AS SoLuongHoaDon 
FROM HoaDon
JOIN NhanVien ON HoaDon.IDNV = NhanVien.IDNV
GROUP BY NhanVien.HoTen, HoaDon.IDNV
ORDER BY SoLuongHoaDon DESC 



-- 20. Lấy danh sách các voucher đang có hiệu lực.
SELECT * 
FROM Voucher 
WHERE GETDATE() BETWEEN NgayBatDau AND NgayKetThuc;

-- 21. Liệt kê các hóa đơn có sử dụng voucher "VC001".
SELECT * 
FROM HoaDon 
WHERE IDVoucher = 'VC001';

-- 22. Liệt kê các đồ uống có kích thước "M" và giá thấp hơn 30,000.
SELECT * 
FROM DoUong 
WHERE Size = N'M' AND Gia < 30000;

-- 23. Tìm danh sách các đồ uống bán trong hóa đơn "HD001".
SELECT DoUong.Ten, HoaDonCoDoUong.SoLuong 
FROM HoaDonCoDoUong
JOIN DoUong ON HoaDonCoDoUong.IDDoUong = DoUong.IDDoUong
WHERE IDHoaDon = 'HD001';

-- 24. Tìm khách hàng chi tiêu nhiều nhất trong tháng 10,
-- gồm tổng tiền và số hóa đơn
SELECT TOP 1
    KhachHang.HoTen AS TenKhachHang,
    KhachHang.SDT AS SoDienThoai,
    SUM(HoaDon.TongTien) AS TongChiTieu,
    COUNT(HoaDon.IDHoaDon) AS SoHoaDon
FROM HoaDon
JOIN KhachHang ON HoaDon.SDTKhach = KhachHang.SDT
WHERE MONTH(HoaDon.ThoiDiemLap) = 10 AND YEAR(HoaDon.ThoiDiemLap) = 2024
GROUP BY KhachHang.HoTen, KhachHang.SDT
ORDER BY TongChiTieu DESC

-- 25. Tìm 3 đồ uống bán chạy nhất kèm theo số lượng và tổng doanh thu
SELECT TOP 3
    DoUong.Ten AS TenDoUong, 
    DoUong.Loai AS LoaiDoUong,
    SUM(HoaDonCoDoUong.SoLuong) AS TongSoLuongBan,
    SUM(HoaDonCoDoUong.SoLuong * DoUong.Gia) AS TongDoanhThu
FROM HoaDonCoDoUong
JOIN DoUong ON HoaDonCoDoUong.IDDoUong = DoUong.IDDoUong
GROUP BY DoUong.Ten, DoUong.Loai
ORDER BY TongSoLuongBan DESC

-- 26, Thống kê tổng doanh thu số lượng hóa đơn và tổng đồ uống bán được của từng nhân viên
SELECT 
    nv.IDNV,
    nv.HoTen,
    SUM(hdcd.SoLuong * du.Gia) AS TongDoanhThu,
    COUNT(DISTINCT hd.IDHoaDon) AS SoLuongHoaDon,
    SUM(hdcd.SoLuong) AS TongDoUongBanDuoc
FROM 
    NhanVien nv
JOIN 
    HoaDon hd ON nv.IDNV = hd.IDNV
JOIN 
    HoaDonCoDoUong hdcd ON hd.IDHoaDon = hdcd.IDHoaDon
JOIN 
    DoUong du ON hdcd.IDDoUong = du.IDDoUong
GROUP BY 
    nv.IDNV, nv.HoTen
ORDER BY 
    nv.HoTen

-- 27. Kiểm tra quyền chức năng của 1 tài khoản 
SELECT
	tk.TenDangNhap,
	cf.Ten
FROM
	TaiKhoan tk
JOIN 
	TaiKhoanCoChucNang tkcf ON tk.TenDangNhap = tkcf.TenDangNhap
JOIN 
	ChucNang cf ON tkcf.IDChucNang = cf.IDChucNang
WHERE
	tk.TenDangNhap = 'ql001'








